<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cindywang.wellnesssurvey" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginSignup.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSignup.Signup"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".LoginSignup.Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cindywang.wellnesssurvey.Login" />
        </activity>
        <activity
            android:name=".ListView.QList"
            android:label="@string/title_activity_qlist"
            android:parentActivityName=".LoginSignup.Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cindywang.wellnesssurvey.Login" />
        </activity>
        <activity
            android:name=".SingleItemView"
            android:parentActivityName=".ListView.QList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cindywang.wellnesssurvey.QList" />
        </activity>
        <activity
            android:name=".slider_answer"
            android:label="@string/title_activity_slider_answer"
            android:parentActivityName=".ListView.QList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cindywang.wellnesssurvey.ListView.QList" />
        </activity>
        <activity
            android:name=".singleSelect_answer"
            android:label="@string/title_activity_single_select_answer"
            android:parentActivityName=".ListView.QList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cindywang.wellnesssurvey.ListView.QList" />
        </activity>
        <activity
            android:name=".multiSelect_answer"
            android:label="@string/title_activity_multi_select_answer"
            android:parentActivityName=".ListView.QList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cindywang.wellnesssurvey.ListView.QList" />
        </activity>
        <activity
            android:name=".answerList.answerList"
            android:label="@string/title_activity_answer_llist"
            android:parentActivityName=".ListView.QList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cindywang.wellnesssurvey.ListView.QList" />
        </activity>
    </application>

</manifest>
